@tailwind base;
@tailwind components;
@tailwind utilities;

.input-style {
  @apply bg-slate-50 border border-sky-200 rounded-md text-black;
}

.select-style{
    @apply focus:ring-sky-200 w-full bg-slate-50 border border-sky-300 rounded-md;
}